<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Momentos</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <h1>Momentos</h1>
    <h2>Simple photo-sharing</h2>
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="" placeholder="Search for user or album...">
      <button>Go!</button>
    </form>
    <button>Log in</button>
    <button>Register</button>
    <span>Julian</span>
    <button>Log out</button>
  </header>

  <%= yield %>

</body>
