<a class="btn btn-default" href="/albums/<%= @photo.album.id %>">Back to album</a>

<div class="jumbotron">
  <img class="img-responsive center-block" src=<%= @photo.url %> alt="">
</div>

<% if current_user?(@photo.album.user) %>
<button>Delete photo</button>
<% end %>
